@charset "EUC-KR";

* {
  	padding: 0;
  	margin: 0;
}
html, body {
  	height: 100%;
  	<!--overflow:hidden;-->;
}
#fullDIV {
	background-color:#FFFFFF;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}
.carousel-caption {
   	top: 0;
    bottom: auto;
}