<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tour.mapper.FollowMapper">

	<insert id="add">
		insert into tbl_Follow (following, followed)
		values (#{following}, #{followed})
	</insert>
	
	<select id="check" resultType="int">
		select count(followed)
		from tbl_Follow
		where following = #{following} and followed = #{followed}
	</select>
	
	<delete id="delete">
		delete from tbl_Follow
		where following = #{following} and followed = #{followed}
	</delete>
	
	<delete id="deleteAll">
		delete from tbl_Follow
		where following = #{userNumber} or followed = #{userNumber}
	</delete>
	
</mapper>