<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ImageMapper">
	
	<insert id="create">
 		insert into tbl_Image (userNumber, realfile, thumfile, type) 
 		values(#{userNumber},#{realfile}, #{thumfile}, #{type})
 		<selectKey keyProperty="imageNumber" resultType="Integer" order="AFTER"> 
 			SELECT LAST_INSERT_ID() 
 		</selectKey>
 	</insert>
	
	<select id="getRealImage" resultType="object">
		select realfile
		from tbl_Image
		where imageNumber = #{imageNumber}
	</select>
	
	<select id="getThumImage" resultType="object">
		select thumfile
		from tbl_Image
		where imageNumber = #{imageNumber}
	</select>
	
	<select id="getType" resultType="string">
		select type
		from tbl_Image
		where imageNumber = #{imageNumber}
	</select>
	<!-- 
	<delete id="delete">
		delete from tbl_image
		where imageNumber = #{imageNumber}
	</delete>
	 -->
	 
	 <delete id="deleteAll">
	 	delete from tbl_Image
	 	where userNumber = #{userNumber}
	 </delete>
</mapper>