<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tour.mapper.LikeMapper">

	<insert id="add">
		insert into tbl_Like (courseNumber, userNumber)
		values (#{courseNumber}, #{userNumber})
	</insert>
	
	<select id="count" resultType="int">
		select count(userNumber)
		from tbl_Like
		where courseNumber = #{courseNumber}
	</select>
	
	<select id="check" resultType="int">
		select count(userNumber)
		from tbl_Like
		where courseNumber = #{courseNumber} and userNumber = #{userNumber}
	</select>
	
	<delete id="delete">
		delete from tbl_Like
		where courseNumber = #{courseNumber} and userNumber = #{userNumber}
	</delete>
	
	<select id="top3" resultType="Integer">
	<![CDATA[
	select courseNumber
	from (
		select courseNumber, count(*) as likeNum
		from tbl_Like
		group by courseNumber
		) tmp
	order by tmp.likeNum desc
	limit 3
	]]>
	</select>

	<delete id="deletePost">
		delete from tbl_Like
		where courseNumber = #{courseNumber}
	</delete>
	
	<delete id="deleteAll">
		delete from tbl_Like
		where userNumber = #{userNumber}
	</delete>

</mapper>